@font-face {
    font-family: "iconfont";
    /* Project id 4508485 */
    src: url('iconfont.woff2?t=1713169713624') format('woff2'),
        url('iconfont.woff?t=1713169713624') format('woff'),
        url('iconfont.ttf?t=1713169713624') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
    content: "\e86d";
}

.icon-sanjiaoxing:before {
    content: "\e615";
}

.icon-fenlei:before {
    content: "\e71b";
}

.icon-shanchu:before {
    content: "\ec7b";
}

.icon-tianjia:before {
    content: "\e60e";
}

.icon-gengduo:before {
    content: "\e643";
}

.icon-bijijilu:before {
    content: "\e6f3";
}

.icon-daiban:before {
    content: "\e6b4";
}